<div class="selectOptions" id="selectOptions">
    <div onclick="dismiss('selectOptions')" class="background"></div>

    <div class="selectOptionsInner">
        <div class="headerSelect">
            <div></div>
            <div>Select Options</div>
            <div></div>
        </div>
        <div class="loaderScreen">
            <div class="middleLoaderScreen">
                <img src="/images/loader.png" class="loading" />
                <div id="selectStatus">Getting ready</div>
            </div>
        </div>
        <div class="content hidden" id="selectablesContent">

        </div>
    </div>
</div>